<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GooglePlusAutoImageSaver.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <GooglePlusAutoImageSaver.My.MySettings>
            <setting name="strDirToSave" serializeAs="String">
                <value>C:\GooglePlus\</value>
            </setting>
            <setting name="boolAutoLoadWhenStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="boolGplusJP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="intTimerInterval" serializeAs="String">
                <value>21600000</value>
            </setting>
            <setting name="boolAutoDL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="intTimerSetterVal" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="boolShowPicture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boolCombineDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="strURLTextFilePath" serializeAs="String">
                <value>url.txt</value>
            </setting>
            <setting name="strDownloadedURLTextFilePath" serializeAs="String">
                <value>downloadedURL.txt</value>
            </setting>
        </GooglePlusAutoImageSaver.My.MySettings>
    </userSettings>
</configuration>
